<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @edit.user_name %>
</p>

<p>
  <strong>Phonetic:</strong>
  <%= @edit.phonetic %>
</p>

<p>
  <strong>Department:</strong>
  <%= @edit.department %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @edit.subject %>
</p>

<p>
  <strong>Email:</strong>
  <%= @edit.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= @edit.image %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @edit.facebook %>
</p>

<p>
  <strong>Github:</strong>
  <%= @edit.github %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @edit.twitter %>
</p>


<%= link_to 'Edit', edit_edit_path(@edit) %> |
<%= link_to 'Back', edits_path %>
